<div id="container">
  <main class="content">
  </main>
</div>

<style>
  .content {
    padding: 32px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    gap: 20px;
  }
</style>